{{> logOut}}
<h2>Editar videojuego:</h2>
<form action="/edit-videogame/{{_id}}" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="{{name}}">
    <br>
    <label for="platform">Platform: </label>
    <input type="text" name="platform" id="platform" value="{{platform}}">
    <br>
    <label for="Genre">Genre: </label>
    <input type="text" name="genre" id="genre" value="{{genre}}">
    <br>
    <label for="developer">Developer: </label>
    <input type="text" name="developer" id="developer" value="{{developer}}">
    <br>
    <label for="releaseDate">Release date: </label>
    <input type="text" name="releaseDate" id="releaseDate" value="{{releaseDate}}">
    <br>
    <label for="rating">Rating: </label>
    <input type="text" name="rating" id="rating" value="{{rating}}">
    <br>
    <label for="pegi">PEGI: </label>
    <input type="text" name="pegi" id="pegi" value="{{pegi}}">
    <br>
    <label for="imageUrl">Image URL: </label>
    <input type="text" name="imageUrl" id="imageUrl" value="{{imageUrl}}">
    <br>
    <button class="button is-primary" type="submit" style="margin: 10px;">Update Videogame</button>
</form>